@import 'colors', 'fonts', 'responsive', 'auxiliar', 'mixins', 'reset';

/* GENERAL STYLES */

body {
    background-color: white;
}

.section-content {
    height: 100vh;
    overflow: hidden;
}

.mask {
    overflow: hidden;
}

.underline {
    @include underline;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-terciary {
    background-color: $terciary;
}

.button-top {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $black;
    color: $white;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    z-index: 500;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(52, 52, 52, 0.1), 0 6px 20px 0 rgba(52, 52, 52, 0.1);

}

.button-top:hover {
    filter: opacity(80%);
}

.button-primary {
    user-select: none;
    background-color: $white;
    border-radius: 1.5625rem;
    color: $primary;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.8rem 4.5rem;
    transition: ease-out 0.5s;

    @include sm {
        font-size: 1rem;
        padding: 0.8rem 3.5rem;
    }
}

.button-primary:hover {
    background-color: $black;
    color: $white;
    transform: translate(0, -0.20rem);
}

.button-secondary {
    user-select: none;
    background-color: $primary;
    border-radius: 1.5625rem;
    color: $white;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.8rem 4.5rem;
    transition: ease-out 0.5s;

    @include sm {
        font-size: 1rem;
        padding: 0.8rem 3.5rem;
    }
}

.button-secondary:hover {
    background-color: $black;
    transform: translate(0, -0.20rem);
}

.button-link {
    user-select: none;
    color: rgba(52, 52, 52, 0.5);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    transition: ease-out 0.5s;

    @include sm {
        font-size: 1rem;
    }
}

.button-link:hover {
    color: $black;
    transform: translate(0, -0.20rem);
}


/* HEADER */

header {
    nav {
        background: linear-gradient(180deg, rgba(52, 52, 52, 0.25) 0%, rgba(52, 52, 52, 0) 100%);
        width: 100%;
        height: 9.8rem;
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 3.125rem;
        z-index: 100;
        user-select: none;

        .header__menu {

            ul {
                height: 2.875rem;
                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    font-size: 1.4rem;
                    font-weight: 700;
                    margin-left: 2.5rem;
                }

                a:hover {
                    color: $white;
                }
            }
        }

        .header__menu--responsive {
            display: block;
            background-color: $black;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translateY(-100%);

            ul {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $white;

                li {
                    a {
                        font-size: 3.2rem;
                        line-height: 5rem;
                        font-weight: 700;
                    }

                    a:hover {
                        color: $secondary;
                    }
                }
            }
        }

        .header__menu--show {
            transform: translateY(0);
        }

        .header__menu--toggle {
            position: absolute;
            opacity: 0;
            top: 4.5rem;
            right: 2.5rem;
            display: block;
            cursor: pointer;
            width: 3rem;
            height: 1.8rem;
        }

        .header__logo {
            width: 8rem;
            height: fit-content;
        }

        .header__menu--toggle-responsive {
            display: none;
        }

        @include md {
            padding: 1.875rem 1.875rem;

            .header__menu {
                display: block;

                ul {
                    display: none;
                }
            }

            .header__menu--show {
                transform: translateY(0);
            }

            .header__menu--toggle {
                display: none
            }

            .header__menu--toggle-responsive {
                position: absolute;
                top: 2rem;
                right: 1.5rem;

                display: block;
                cursor: pointer;
                width: 3rem;
                height: 1.8rem;
                margin-top: 0.625rem;
            }
        }
    }
}


/* HOME */

.home {
    background-color: $primary;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;

    .home__title--text-01 {
        display: block;
    }

    .home__title--text-02 {
        display: block;
        margin-right: 1vh;
    }

    .home__title--text-03 {
        display: block;
        font-size: 7vh;
        font-weight: 900;
    }

    .home__title--underline {
        @include underline;
        background-color: $secondary;
        width: 0;
        position: absolute;
        display: inline-block;
        top: 7.1vh;
    }

    .mix-line {
        display: flex;
        position: relative;
        margin-top: -1.5vh;
        align-items: baseline;
    }
}

.home__content {
    display: flex;
    align-items: center;

    @include md {
        flex-direction: column;
    }
}

.home__illustration {
    height: 12rem;
    width: 21rem;
    margin-right: 1rem;

    @include md {
        margin: 0.5rem 0;
        width: 19rem;
    }
}

.home__title {
    top: center;
    left: center;
}


/* FRONTEND */

.front-end {
    background-color: $white;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.front-end__content {
    max-width: 980px;
    background-color: $black;
    height: 50%;
    margin: auto 6rem;
    border-radius: 10px;
    color: $white;
    padding: 2rem;

    h2 {
        font-family: 'Roboto Mono', monospace;
        font-size: 3.2rem;
        font-weight: 400;
    }

    .front-end__info {
        font-size: 2.4rem;
        font-weight: 200;
        color: $secondary;
    }
    
    .front-end__title {
        font-weight: 600;
    }

    @include md {
        margin: auto 2rem;
        padding: 1rem;

        h2 {
            font-size: 2.2rem;
        }

        .front-end__info {
            font-size: 1.8rem;
        }
    }

    @include sm {

        h2 {
            font-size: 1.8rem;
        }

        .front-end__info {
            font-size: 1.4rem;
        }
    }
}

.front-end__buttons {
    display: flex;
    margin-bottom: 2rem;

    ul {
        display: flex;
    }
}

.button-close {
    background-color: $secondary;
    @include windowButton();
}

.button-minimize {
    background-color: $terciary;
    @include windowButton();
}

.button-maximize {
    background-color: $primary;
    @include windowButton();
}

// .front-end__info {
//     font-weight: 200;
//     color: $secondary;
// }

// .front-end__title {
//     font-weight: 400;
// }


/* DESIGN */

.design {

    .design__content {
        background-color: $white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .mask-semicircles {
            position: relative;
            width: 100%;
            height: 100%;

            .container {
                position: relative;

                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                @include lg {
                    justify-content: flex-start;
                }
            }
        }


    }

    .boxes-mask {
        position: absolute;
        width: 100%;
        height: 40vh;
        overflow: hidden;
    }

    .box1 {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: $terciary;
    }

    .box2 {
        position: relative;
        width: 100%;
        height: 50%;
        background-color: $primary;
        top: -50%;
    }

    @mixin semicircle {
        position: relative;
        width: 40vh;
        height: 20vh;
        left: calc(50% - 20vh);
        transform-origin: 50% 50%;
    }

    @mixin circle {
        position: absolute;
        border-radius: 100%;
        width: 40vh;
        height: 40vh;
        left: calc(50% - 20vh);
    }

    .circle01 {
        @include circle();
        top: calc(50% - 40vh);
        background-color: $primary;
    }

    .circle02 {
        @include circle();
        top: calc(50% - 20vh);
        background-color: $secondary;
    }

    .circle03 {
        @include circle();
        top: calc(50% + 0vh);
        background-color: $terciary;
    }

    .circles {
        background-color: aquamarine;
        top: 50%;
        position: relative;
    }

    .semicircles {
        position: absolute;
        width: 100%;
        overflow: hidden;
        top: -10%;
    }

    .semicircle-top-01 {

        @include semicircle();
        border-top-left-radius: 100vw;
        border-top-right-radius: 100vw;
        background-color: $primary;
        top: 20vh;
    }

    .semicircle-bottom-01 {
        @include semicircle();
        border-bottom-left-radius: 100vw;
        border-bottom-right-radius: 100vw;
        background-color: $primary;
        top: 20vh;
    }

    .semicircle-top-02 {
        @include semicircle();
        border-top-left-radius: 100vw;
        border-top-right-radius: 100vw;
        background-color: $secondary;
        top: calc(50% - 20vh);
    }

    .semicircle-bottom-02 {
        @include semicircle();
        border-bottom-left-radius: 100vw;
        border-bottom-right-radius: 100vw;
        background-color: $secondary;
        top: calc(50% - 0vh);
    }

    .semicircle-top-03 {
        @include semicircle();
        border-top-left-radius: 100vw;
        border-top-right-radius: 100vw;
        background-color: $terciary;
        top: -20vh
    }

    .semicircle-bottom-03 {
        @include semicircle();
        border-bottom-left-radius: 100vw;
        border-bottom-right-radius: 100vw;
        background-color: $terciary;
        top: -20vh
    }

    .design__title-container {
        position: relative;
        display: flex;
        justify-content: center;
        top: 74vh;
        width: 100%;

        @include lg {
            justify-content: flex-start;
        }

        .design__title {
            position: relative;
            z-index: 50;
            left: -20vh;

            @include lg {
                left: 2rem;
            }
        }

        .design__title--text-01 {
            display: block;
        }

        .design__title--text-02 {
            display: block;
            font-size: 7vh;
            font-weight: 900;
        }

        .design__title--text-03 {
            display: block;
            margin-left: 1vh;
        }

        .design__title--underline {
            @include underline;
            background-color: $primary;
            width: 0;
            position: absolute;
            display: inline-block;
            top: 7vh;
            z-index: -1;
        }

        .mix-line {
            display: flex;
            position: relative;
            margin-top: -1.5vh;
            align-items: baseline;
        }
    }
}



/* ANIMATION  */

.animation {

    .animation__content {
        background-color: $primary;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg {
            flex-direction: column-reverse;
            padding: 10vh 0 0;
        }
    }

    .animation__lottie {
        width: 55vh;

        @include lg {
            width: 40vh;
        }
    }

    .animation__lottie--container {
        width: 55vh;

        @include lg {
            width: 40vh;
        }
    }

    .animation__title {
        margin-right: 5vh;
        z-index: 10;
        top: 50%;
        color: $white;

        @include lg {
            margin-right: 0;
        }

        .animation__title--text-01 {
            display: block;
        }

        .animation__title--text-02 {
            display: block;
            font-size: 7vh;
            font-weight: 900;
        }

        .animation__title--underline {
            @include underline;
            background-color: $terciary;
            width: 0;
            margin-left: 0rem;
            position: absolute;
            display: inline-block;
            top: 7vh;
            z-index: 9;
        }

        .mix-line {
            display: flex;
            position: relative;
            margin-top: -1.5vh;

            h1 {
                display: inline;
                position: relative;
                z-index: 10;
            }

            h2 {
                display: inline;
            }
        }
    }
}

/* DETAILS */

.details {

    .details__content {
        background-color: $terciary;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .magnify {
        z-index: 9;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        overflow: hidden;
        user-select: none;

        img {
            display: block;
        }
    }

    .element_to_magnify {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        a {
            border: 1px solid blue;
            display: block;
            position: absolute;
            top: 80px;
            right: 80px;
            background-color: rgba(200, 200, 200, .25);
            padding: 4px;
            font-size: 18px;
            color: #fff;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .magnify_glass {
        z-index: 300;
        position: absolute;
        border: 4px solid $primary;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: hidden;
        cursor: move;
        top: 41%;
        left: calc(50% - (200px/2));

        @include md {
            width: 130px;
            height: 130px;
            top: 43%;
            left: calc(50% - (130px/2));
        }
    }


    .details__title {
        position: absolute;
        z-index: 10;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: $black;
        background-color: $terciary;

        .details__title--text-01 {
            margin-right: 1vh;
        }

        .details__title--text-02 {
            display: block;
            font-size: 7vh;
            font-weight: 900;
        }

        .details__title--underline {
            @include underline;
            background-color: $secondary;
            width: 21.3vh;
            margin-left: 0rem;
            position: absolute;
            display: inline-block;
            top: 7vh;
            z-index: 9;
        }

        .details__title--point {
            width: 1vh;
        }

        .mix-line {
            display: flex;
            position: relative;
            margin-top: -1.5vh;
            align-items: baseline;
        }
    }

    .details__title--static {
        position: relative;
        z-index: 9;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: $black;
        background-color: $terciary;

        .details__title--text-01--static {
            margin-right: 1vh;
        }

        .details__title--text-02--static {
            display: block;
            font-size: 7vh;
            font-weight: 900;
        }

        .details__title--underline--static {
            @include underline;
            background-color: $secondary;
            width: 21.3vh;
            margin-left: 0rem;
            position: absolute;
            display: inline-block;
            top: 7vh;
            z-index: 9;
        }

        .details__title--point--static {
            width: 1vh;
        }

        .mix-line--static {
            display: flex;
            position: relative;
            margin-top: -1.5vh;
            align-items: baseline;
        }
    }
}

/* PROJECTS */

.projects {

    .projects__content {
        background-color: $white;
        height: 100vh;
        display: flex;
        padding: 8rem 0 8rem 8rem;
        flex-direction: column;

        .projects__cards {
            margin-top: 2rem;
            display: flex;

            .buttons-content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include md {
                    justify-content: center;
                    flex-wrap: wrap-reverse;

                    a {
                        margin: 0.625rem 1.2rem;
                    }
                }

                @include sm {
                    flex-direction: column-reverse;

                    a {
                        margin: 0.625rem 0.625rem;
                    }
                }
            }

            p {
                font-weight: 500;
                font-size: 1.625rem;
                line-height: 130%;
                user-select: none;

                @include sm {
                    font-size: 1.2rem;
                }
            }
        }

        @include md {
            padding: 6rem 2rem 4rem;

            h1 {
                font-size: 2.5rem;
            }
        }
    }

    .swiper {
        width: 100%;
        height: 93%;

        @include md {
            height: 73%;
        }

        @include sm {
            height: 100%;
        }
    }

    .swiper-slide {
        width: 33rem;
        height: 100%;
        border-radius: 25px;
        padding: 3.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bold {
            font-weight: 900;
            font-size: 1.4rem;
            //color: $white;
        }
        
        .italic {
            font-style: italic;
            font-weight: 800;
        }

        p{
            white-space: pre-line;
            margin-bottom: 1rem;
        }

        @include md {
            width: 100%;
            height: 100%;
        }

        @include sm {
            width: 100%;
            height: 100%;
            padding: 2.5rem;
        }
    }

    .swiper-wrapper {

        height: 93%;

        @include md {
            height: 100%;
        }

        @include sm {
            height: 90%;
        }
    }
}

/* ABOUT */

.about {

    background-color: $white;

    .about__content {
        background-color: $white;
        display: flex;
        flex-direction: column;
        padding: 8rem 8rem 4rem;
        margin: 0 auto;
        max-width: 1280px;

        .about__text-content {
            display: flex;
            align-items: center;

            @include lg {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        p {
            font-weight: 500;
            font-size: 1.625rem;
            line-height: 130%;
            user-select: none;
            padding-right: 3rem;
            width: 100%;
            white-space: pre-line;

            @include lg {
                margin-bottom: 2.5rem;
            }

            @include md {
                padding-right: 0;
                font-size: 1.3rem;
                margin-bottom: 2.5rem;
            }
        }

        .about__illustration {

            lottie-player {
                width: 16.25rem;
            }

            @include lg {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    width: 10rem;
                }
            }
        }

        .button-secondary {
            width: 20rem;
            margin: 2.5rem auto 0;

            @include md {
                width: 19.5rem;
            }
        }

        @include md {
            padding: 6rem 2rem 4rem;

            h1 {
                font-size: 2.5rem;
            }
        }
    }

    .about__text-content {
        p {
            white-space: pre-line;
            br {
                content: "";
                margin: -1rem;
                display: block;
              }
        }
    }

    .about__technologies {
        background-color: $terciary;
        font-weight: 700;
        font-size: 2rem;
        padding: 1.5rem 0;
        overflow: hidden;
        white-space: nowrap;

        ul {
            display: inline-block;
        }

        li {
            display: inline;
            margin-right: 1.2rem;
        }

        @include md {
            font-size: 1.5rem;
            padding: 1rem 0;
        }
    }
}

.contact {
    height: 90vh;

    @include md {
        height: 84vh;
    }

    .contact__content {
        background-color: $white;
        background: linear-gradient(360deg, rgba(255, 110, 66, 0.15) 0%, rgba(255, 247, 237, 1) 27%, rgba(255, 247, 237, 1) 100%);
        height: 100vh;
        display: flex;
        padding: 8rem auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 13.5rem;
            margin-bottom: 2rem;
        }
    }

    .contact__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .contact__title--text-01 {
            display: block;
            margin-right: 1vh;
        }

        .contact__title--text-02 {
            display: block;
            margin-right: 1vh;
        }

        .contact__title--text-03 {
            display: block;
            margin-right: 1vh;
        }

        .contact__title--text-04 {
            display: block;
            font-size: 7vh;
            font-weight: 900;
        }


        .contact__title--underline {
            @include underline;
            background-color: $secondary;
            width: 0;
            margin-left: 0rem;
            position: absolute;
            display: inline-block;
            top: 7vh;
            z-index: 9;

            @include md {
                top: 11.4vh;
                display: block;
            }
        }

        .mix-line {
            display: flex;
            position: relative;
            margin-top: -2.3vh;
            align-items: baseline;

            @include md {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -0.4vh;
            }

            h1 {
                display: inline;
                position: relative;
                z-index: 10;
            }

            h2 {
                display: inline;
            }

            a {
                display: inline;
                transition: 0.2s ease-out;

                @include md {
                    display: block;
                    margin-top: -1.5vh;
                }
            }

            a:hover {
                display: inline;
                color: $primary;

                @include md {
                    display: block;
                    margin-top: -1.5vh;
                }
            }
        }
    }

    .contact__gradient {
        position: relative;
        bottom: 25rem;
        height: 25rem;
    }
}

footer {
    position: relative;
    bottom: -1.2rem;

    @include md {
        bottom: -2.5rem;
    }

    .footer__content {
        width: 100%;
        color: $primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 4rem;
        position: absolute;

        @include md {
            flex-direction: column-reverse;
            justify-content: center;
            padding: 0rem 2rem;

            .footer__social {
                margin-bottom: 1rem;
            }
        }

        ul {
            display: flex;
            font-size: 1.5rem;

            a {
                margin-left: 1rem;
                font-size: 2rem;
                transition: ease-out 0.2s;
            }

            a:hover {
                color: #347e99;
            }
        }
    }
}