@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
h1 {
  font-size: 7vh;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 5vh;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 61px;
  text-transform: uppercase;
  color: #43a1c3;
}

/* Margin and paddings */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* images */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* links as box */
a {
  display: block;
}

/* links in paragraph */
p a {
  display: inline;
}

/* No decoration in list */
li {
  list-style-type: none;
}

/* Smooth links */
html {
  scroll-behavior: smooth;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* Avoid quotes pseudo elements problems */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* Text select */
::-moz-selection {
  background-color: #43a1c3;
  color: #ff6f42;
}
::selection {
  background-color: #43a1c3;
  color: #ff6f42;
}

/* Form typography */
form, input, textarea, select, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Tables */
table, td, tr {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Avoid SVG problems */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Text entrire web */
body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: #343434;
  background-color: #fff7ed;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

/* GENERAL STYLES */
/* Fix Height in mobile (just for webkit) */
body {
  background-color: white;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.section-content {
  height: 100vh;
  overflow: hidden;
}

.mask {
  overflow: hidden;
}

.underline {
  height: 0.8vh;
  display: inline-block;
}

.bg-primary {
  background-color: #43a1c3;
}

.bg-secondary {
  background-color: #ff6f42;
}

.bg-terciary {
  background-color: #ffdc55;
}

.button-top {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #343434;
  color: #fff7ed;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  position: fixed;
  z-index: 500;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(52, 52, 52, 0.1), 0 6px 20px 0 rgba(52, 52, 52, 0.1);
          box-shadow: 0 4px 8px 0 rgba(52, 52, 52, 0.1), 0 6px 20px 0 rgba(52, 52, 52, 0.1);
}

.button-top:hover {
  -webkit-filter: opacity(80%);
          filter: opacity(80%);
}

.button-primary {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff7ed;
  border-radius: 1.5625rem;
  color: #43a1c3;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.8rem 4.5rem;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

@media (min-width: 320px) and (max-width: 480px) {
  .button-primary {
    font-size: 1rem;
    padding: 0.8rem 3.5rem;
  }
}

.button-primary:hover {
  background-color: #343434;
  color: #fff7ed;
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}

.button-secondary {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #43a1c3;
  border-radius: 1.5625rem;
  color: #fff7ed;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.8rem 4.5rem;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

@media (min-width: 320px) and (max-width: 480px) {
  .button-secondary {
    font-size: 1rem;
    padding: 0.8rem 3.5rem;
  }
}

.button-secondary:hover {
  background-color: #343434;
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}

.button-link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(52, 52, 52, 0.5);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

@media (min-width: 320px) and (max-width: 480px) {
  .button-link {
    font-size: 1rem;
  }
}

.button-link:hover {
  color: #343434;
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}

/* HEADER */
header nav {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 52, 52, 0.25)), to(rgba(52, 52, 52, 0)));
  background: linear-gradient(180deg, rgba(52, 52, 52, 0.25) 0%, rgba(52, 52, 52, 0) 100%);
  width: 100%;
  height: 9.8rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 3.125rem;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav .header__menu ul {
  height: 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .header__menu ul a {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2.5rem;
}

header nav .header__menu ul a:hover {
  color: #fff7ed;
}

header nav .header__menu--responsive {
  display: block;
  background-color: #343434;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header nav .header__menu--responsive ul {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff7ed;
}

header nav .header__menu--responsive ul li a {
  font-size: 3.2rem;
  line-height: 5rem;
  font-weight: 700;
}

header nav .header__menu--responsive ul li a:hover {
  color: #ff6f42;
}

header nav .header__menu--show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav .header__menu--toggle {
  position: absolute;
  opacity: 0;
  top: 4.5rem;
  right: 2.5rem;
  display: block;
  cursor: pointer;
  width: 3rem;
  height: 1.8rem;
}

header nav .header__logo {
  width: 8rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header nav .header__menu--toggle-responsive {
  display: none;
}

@media (max-width: 768px) {
  header nav {
    padding: 1.875rem 1.875rem;
  }
  header nav .header__menu {
    display: block;
  }
  header nav .header__menu ul {
    display: none;
  }
  header nav .header__menu--show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  header nav .header__menu--toggle {
    display: none;
  }
  header nav .header__menu--toggle-responsive {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    display: block;
    cursor: pointer;
    width: 3rem;
    height: 1.8rem;
    margin-top: 0.625rem;
  }
}

/* HOME */
.home {
  background-color: #43a1c3;
  color: #fff7ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -2;
}

.home .home__title--text-01 {
  display: block;
}

.home .home__title--text-02 {
  display: block;
  margin-right: 1vh;
}

.home .home__title--text-03 {
  display: block;
  font-size: 7vh;
  font-weight: 900;
}

.home .home__title--underline {
  height: 0.8vh;
  display: inline-block;
  background-color: #ff6f42;
  width: 0;
  position: absolute;
  display: inline-block;
  top: 7.1vh;
}

.home .mix-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -1.5vh;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .home__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home__illustration {
  height: 12rem;
  width: 21rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .home__illustration {
    margin: 0.5rem 0;
    width: 19rem;
  }
}

.home__title {
  top: center;
  left: center;
}

/* FRONTEND */
.front-end {
  background-color: #fff7ed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.front-end__content {
  max-width: 980px;
  background-color: #343434;
  height: 50%;
  margin: auto 6rem;
  border-radius: 10px;
  color: #fff7ed;
  padding: 2rem;
}

.front-end__content h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.2rem;
  font-weight: 400;
}

.front-end__content .front-end__info {
  font-size: 2.4rem;
  font-weight: 200;
  color: #ff6f42;
}

.front-end__content .front-end__title {
  font-weight: 600;
}

@media (max-width: 768px) {
  .front-end__content {
    margin: auto 2rem;
    padding: 1rem;
  }
  .front-end__content h2 {
    font-size: 2.2rem;
  }
  .front-end__content .front-end__info {
    font-size: 1.8rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .front-end__content h2 {
    font-size: 1.8rem;
  }
  .front-end__content .front-end__info {
    font-size: 1.4rem;
  }
}

.front-end__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.front-end__buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-close {
  background-color: #ff6f42;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.button-minimize {
  background-color: #ffdc55;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.button-maximize {
  background-color: #43a1c3;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

/* DESIGN */
.design .design__content {
  background-color: #fff7ed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.design .design__content .mask-semicircles {
  position: relative;
  width: 100%;
  height: 100%;
}

.design .design__content .mask-semicircles .container {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .design .design__content .mask-semicircles .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.design .boxes-mask {
  position: absolute;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.design .box1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffdc55;
}

.design .box2 {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: #43a1c3;
  top: -50%;
}

.design .circle01 {
  position: absolute;
  border-radius: 100%;
  width: 40vh;
  height: 40vh;
  left: calc(50% - 20vh);
  top: calc(50% - 40vh);
  background-color: #43a1c3;
}

.design .circle02 {
  position: absolute;
  border-radius: 100%;
  width: 40vh;
  height: 40vh;
  left: calc(50% - 20vh);
  top: calc(50% - 20vh);
  background-color: #ff6f42;
}

.design .circle03 {
  position: absolute;
  border-radius: 100%;
  width: 40vh;
  height: 40vh;
  left: calc(50% - 20vh);
  top: calc(50% + 0vh);
  background-color: #ffdc55;
}

.design .circles {
  background-color: aquamarine;
  top: 50%;
  position: relative;
}

.design .semicircles {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: -10%;
}

.design .semicircle-top-01 {
  position: relative;
  width: 40vh;
  height: 20vh;
  left: calc(50% - 20vh);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  background-color: #43a1c3;
  top: 20vh;
}

.design .semicircle-bottom-01 {
  position: relative;
  width: 40vh;
  height: 20vh;
  left: calc(50% - 20vh);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-bottom-left-radius: 100vw;
  border-bottom-right-radius: 100vw;
  background-color: #43a1c3;
  top: 20vh;
}

.design .semicircle-top-02 {
  position: relative;
  width: 40vh;
  height: 20vh;
  left: calc(50% - 20vh);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  background-color: #ff6f42;
  top: calc(50% - 20vh);
}

.design .semicircle-bottom-02 {
  position: relative;
  width: 40vh;
  height: 20vh;
  left: calc(50% - 20vh);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-bottom-left-radius: 100vw;
  border-bottom-right-radius: 100vw;
  background-color: #ff6f42;
  top: calc(50% - 0vh);
}

.design .semicircle-top-03 {
  position: relative;
  width: 40vh;
  height: 20vh;
  left: calc(50% - 20vh);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  background-color: #ffdc55;
  top: -20vh;
}

.design .semicircle-bottom-03 {
  position: relative;
  width: 40vh;
  height: 20vh;
  left: calc(50% - 20vh);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-bottom-left-radius: 100vw;
  border-bottom-right-radius: 100vw;
  background-color: #ffdc55;
  top: -20vh;
}

.design .design__title-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 74vh;
  width: 100%;
}

@media (max-width: 1024px) {
  .design .design__title-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.design .design__title-container .design__title {
  position: relative;
  z-index: 50;
  left: -20vh;
}

@media (max-width: 1024px) {
  .design .design__title-container .design__title {
    left: 2rem;
  }
}

.design .design__title-container .design__title--text-01 {
  display: block;
}

.design .design__title-container .design__title--text-02 {
  display: block;
  font-size: 7vh;
  font-weight: 900;
}

.design .design__title-container .design__title--text-03 {
  display: block;
  margin-left: 1vh;
}

.design .design__title-container .design__title--underline {
  height: 0.8vh;
  display: inline-block;
  background-color: #43a1c3;
  width: 0;
  position: absolute;
  display: inline-block;
  top: 7vh;
  z-index: -1;
}

.design .design__title-container .mix-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -1.5vh;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* ANIMATION  */
.animation .animation__content {
  background-color: #43a1c3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .animation .animation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10vh 0 0;
  }
}

.animation .animation__lottie {
  width: 55vh;
}

@media (max-width: 1024px) {
  .animation .animation__lottie {
    width: 40vh;
  }
}

.animation .animation__lottie--container {
  width: 55vh;
}

@media (max-width: 1024px) {
  .animation .animation__lottie--container {
    width: 40vh;
  }
}

.animation .animation__title {
  margin-right: 5vh;
  z-index: 10;
  top: 50%;
  color: #fff7ed;
}

@media (max-width: 1024px) {
  .animation .animation__title {
    margin-right: 0;
  }
}

.animation .animation__title .animation__title--text-01 {
  display: block;
}

.animation .animation__title .animation__title--text-02 {
  display: block;
  font-size: 7vh;
  font-weight: 900;
}

.animation .animation__title .animation__title--underline {
  height: 0.8vh;
  display: inline-block;
  background-color: #ffdc55;
  width: 0;
  margin-left: 0rem;
  position: absolute;
  display: inline-block;
  top: 7vh;
  z-index: 9;
}

.animation .animation__title .mix-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -1.5vh;
}

.animation .animation__title .mix-line h1 {
  display: inline;
  position: relative;
  z-index: 10;
}

.animation .animation__title .mix-line h2 {
  display: inline;
}

/* DETAILS */
.details .details__content {
  background-color: #ffdc55;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.details .magnify {
  z-index: 9;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.details .magnify img {
  display: block;
}

.details .element_to_magnify {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details .element_to_magnify a {
  border: 1px solid blue;
  display: block;
  position: absolute;
  top: 80px;
  right: 80px;
  background-color: rgba(200, 200, 200, 0.25);
  padding: 4px;
  font-size: 18px;
  color: #fff;
}

.details .element_to_magnify img {
  width: 100%;
  height: auto;
}

.details .magnify_glass {
  z-index: 300;
  position: absolute;
  border: 4px solid #43a1c3;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: move;
  top: 41%;
  left: calc(50% - (200px/2));
}

@media (max-width: 768px) {
  .details .magnify_glass {
    width: 130px;
    height: 130px;
    top: 43%;
    left: calc(50% - (130px/2));
  }
}

.details .details__title {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #343434;
  background-color: #ffdc55;
}

.details .details__title .details__title--text-01 {
  margin-right: 1vh;
}

.details .details__title .details__title--text-02 {
  display: block;
  font-size: 7vh;
  font-weight: 900;
}

.details .details__title .details__title--underline {
  height: 0.8vh;
  display: inline-block;
  background-color: #ff6f42;
  width: 21.3vh;
  margin-left: 0rem;
  position: absolute;
  display: inline-block;
  top: 7vh;
  z-index: 9;
}

.details .details__title .details__title--point {
  width: 1vh;
}

.details .details__title .mix-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -1.5vh;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.details .details__title--static {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #343434;
  background-color: #ffdc55;
}

.details .details__title--static .details__title--text-01--static {
  margin-right: 1vh;
}

.details .details__title--static .details__title--text-02--static {
  display: block;
  font-size: 7vh;
  font-weight: 900;
}

.details .details__title--static .details__title--underline--static {
  height: 0.8vh;
  display: inline-block;
  background-color: #ff6f42;
  width: 21.3vh;
  margin-left: 0rem;
  position: absolute;
  display: inline-block;
  top: 7vh;
  z-index: 9;
}

.details .details__title--static .details__title--point--static {
  width: 1vh;
}

.details .details__title--static .mix-line--static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -1.5vh;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* PROJECTS */
.projects .projects__content {
  background-color: #fff7ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0 8rem 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .projects__content .projects__cards {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .projects__content .projects__cards .buttons-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .projects .projects__content .projects__cards .buttons-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .projects .projects__content .projects__cards .buttons-content a {
    margin: 0.625rem 1.2rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects .projects__content .projects__cards .buttons-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects .projects__content .projects__cards .buttons-content a {
    margin: 0.625rem 0.625rem;
  }
}

.projects .projects__content .projects__cards p {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 130%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects .projects__content .projects__cards p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .projects .projects__content {
    padding: 6rem 2rem 4rem;
  }
  .projects .projects__content h1 {
    font-size: 2.5rem;
  }
}

.projects .swiper {
  width: 100%;
}

.projects .swiper-slide {
  width: 33rem;
  min-height: 43.75rem;
  border-radius: 25px;
  padding: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .swiper-slide .bold {
  font-weight: 900;
  font-size: 1.4rem;
}

.projects .swiper-slide .italic {
  font-style: italic;
  font-weight: 800;
}

.projects .swiper-slide p {
  white-space: pre-line;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .projects .swiper-slide {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects .swiper-slide {
    width: 100%;
    padding: 2.5rem;
  }
}

.projects .swiper-wrapper {
  background-color: red;
}

/* ABOUT */
.about {
  background-color: #fff7ed;
}

.about .about__content {
  background-color: #fff7ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 8rem 4rem;
  margin: 0 auto;
  max-width: 1280px;
}

.about .about__content .about__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .about .about__content .about__text-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about .about__content p {
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 130%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 3rem;
  width: 100%;
  white-space: pre-line;
}

@media (max-width: 1024px) {
  .about .about__content p {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 768px) {
  .about .about__content p {
    padding-right: 0;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }
}

.about .about__content .about__illustration lottie-player {
  width: 16.25rem;
}

@media (max-width: 1024px) {
  .about .about__content .about__illustration {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about__content .about__illustration img {
    width: 10rem;
  }
}

.about .about__content .button-secondary {
  width: 20rem;
  margin: 2.5rem auto 0;
}

@media (max-width: 768px) {
  .about .about__content .button-secondary {
    width: 19.5rem;
  }
}

@media (max-width: 768px) {
  .about .about__content {
    padding: 6rem 2rem 4rem;
  }
  .about .about__content h1 {
    font-size: 2.5rem;
  }
}

.about .about__text-content p {
  white-space: pre-line;
}

.about .about__text-content p br {
  content: "";
  margin: -1rem;
  display: block;
}

.about .about__technologies {
  background-color: #ffdc55;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 0;
  overflow: hidden;
  white-space: nowrap;
}

.about .about__technologies ul {
  display: inline-block;
}

.about .about__technologies li {
  display: inline;
  margin-right: 1.2rem;
}

@media (max-width: 768px) {
  .about .about__technologies {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}

.contact {
  height: 90vh;
}

@media (max-width: 768px) {
  .contact {
    height: 84vh;
  }
}

.contact .contact__content {
  background-color: #fff7ed;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 110, 66, 0.15)), color-stop(27%, #fff7ed), to(#fff7ed));
  background: linear-gradient(360deg, rgba(255, 110, 66, 0.15) 0%, #fff7ed 27%, #fff7ed 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__content img {
  width: 13.5rem;
  margin-bottom: 2rem;
}

.contact .contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact .contact__title .contact__title--text-01 {
  display: block;
  margin-right: 1vh;
}

.contact .contact__title .contact__title--text-02 {
  display: block;
  margin-right: 1vh;
}

.contact .contact__title .contact__title--text-03 {
  display: block;
  margin-right: 1vh;
}

.contact .contact__title .contact__title--text-04 {
  display: block;
  font-size: 7vh;
  font-weight: 900;
}

.contact .contact__title .contact__title--underline {
  height: 0.8vh;
  display: inline-block;
  background-color: #ff6f42;
  width: 0;
  margin-left: 0rem;
  position: absolute;
  display: inline-block;
  top: 7vh;
  z-index: 9;
}

@media (max-width: 768px) {
  .contact .contact__title .contact__title--underline {
    top: 11.4vh;
    display: block;
  }
}

.contact .contact__title .mix-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -2.3vh;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 768px) {
  .contact .contact__title .mix-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -0.4vh;
  }
}

.contact .contact__title .mix-line h1 {
  display: inline;
  position: relative;
  z-index: 10;
}

.contact .contact__title .mix-line h2 {
  display: inline;
}

.contact .contact__title .mix-line a {
  display: inline;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

@media (max-width: 768px) {
  .contact .contact__title .mix-line a {
    display: block;
    margin-top: -1.5vh;
  }
}

.contact .contact__title .mix-line a:hover {
  display: inline;
  color: #43a1c3;
}

@media (max-width: 768px) {
  .contact .contact__title .mix-line a:hover {
    display: block;
    margin-top: -1.5vh;
  }
}

.contact .contact__gradient {
  position: relative;
  bottom: 25rem;
  height: 25rem;
}

footer {
  position: relative;
  bottom: -1.2rem;
}

@media (max-width: 768px) {
  footer {
    bottom: -2.5rem;
  }
}

footer .footer__content {
  width: 100%;
  color: #43a1c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 4rem;
  position: absolute;
}

@media (max-width: 768px) {
  footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0rem 2rem;
  }
  footer .footer__content .footer__social {
    margin-bottom: 1rem;
  }
}

footer .footer__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

footer .footer__content ul a {
  margin-left: 1rem;
  font-size: 2rem;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

footer .footer__content ul a:hover {
  color: #347e99;
}
